@import "../../../variables.scss";

.product-item {
  width: 282px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 3px 13.8px 1.2px rgba(152, 152, 152, 0.2);
  text-align: center;
  padding: 15px 20px;
  box-sizing: border-box;
  margin-top: 24px;
  border-radius: 10px;
  &:hover {
    .product-image {
      // Улучшение качества рендеринга
      image-rendering: -webkit-optimize-contrast;
      image-rendering: crisp-edges;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;

      // Сглаживание
      -webkit-font-smoothing: subpixel-antialiased;
      transform: scale(1.2) translateZ(0);
      transition: transform 0.5s ease;

      // Принудительное аппаратное ускорение
      will-change: transform;
    }
  }
  .product-image {
    object-fit: cover;
    display: flex;
    height: 180px;
    align-items: center;
    justify-content: center;
    img {
      width: 190px;
      height: 143px;
    }
  }

  .product-text {
    font-size: 14px;
    color: rgb(24, 26, 26);
    line-height: 1.286;
    height: 52px;
    margin-bottom: 15px;
  }
  .product-action .button {
    width: 242px;
    height: 50px;
    padding: 17px;
  }
}

@media screen and (max-width: 1229px) {
  .products-items {
    justify-content: center;
  }

  .product-item {
    margin: 12px;
  }
}

@media screen and (max-width: 1023px) {
  .products {
    padding-top: 0;
    padding-bottom: 40px;
  }
}
