@import "../../../../variables";

.header {
  top: 0;
  position: sticky;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 3px 13.8px 1.2px rgba(152, 152, 152, 0.2);
  padding: 16px 0 15px 0;
  z-index: 99;

  .container {
    @include flex-box();
    .cart {
      cursor: pointer;
    }
  }
}

.active{
  border-bottom: 1px solid $main-color;
}
.menu {
  ul {
    list-style: none;
    display: flex;
    width: 489px;
    justify-content: space-between;

    a {
      text-decoration: none;
      font-size: 16px;
      color: rgb(164, 107, 0);
      line-height: 1;
    }
    a:hover {
      transform: scale(1.2);
      color: rgb(55, 38, 1);
      transition: color 0.2s ease-in;
    }
  }
}

@media screen and (max-width: 1229px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 1023px) {
  .menu ul {
    width: 420px;
  }



}


@media screen and (max-width: 767px) {

  .header .container {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 390px;
  }
  .cart {
    margin-left: 20px;
  }

  .menu {
    order: 3;
    margin-top: 15px;
    flex-basis: 100%;
  }

  .menu ul {
    width: 390px;
  }

}
.button-group{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
  width: 50px;
  height: 50px;

  button{
    border: none;
    outline: none;
    cursor: pointer;
  }
}
@media screen and (max-width: 424px) {
  .menu {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    top: 0;
    background: #000000b0;
  }
  .menu ul {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    /*margin: 0 auto;*/
  }
  .menu-item {
    margin: 15px 0;
  }

  .burger {
    display: block;
    margin-right: 20px;
  }
  .burger svg {
    width: 30px;
    height: 30px;
    fill: #fad7a7;
  }

  .menu.open {
    display: flex;
    justify-content: center;
  }

  .menu .close {
    display: block;
    height: 24px;
    width: 24px;
    fill: rgb(164, 107, 0);
    position: absolute;
    top: 20px;
    right: 20px;
  }

}
